/** Mobile styling
  0px width to 566px
  very small compact phones or earlier iPhones
**/
html, body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

.page-title {
  display: flex;
  height: 100px;
  background-color: #CACAFC;
  width: 100%;
}

.design-title {
  display: flex;
  font-size: 40px;
  align-items: center;
  font-weight: lighter;
  padding-left: 20px;
}

.hero-conduct {
  display: flex;
  height: 280px;
  justify-content: space-between;
}
.hero {
  height: 100%;
  width: 60%;
}

h1 {
  font-weight: lighter;
  font-style: normal;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text {
  display: flex;
  font-size: 20px;
  width: 70%;
  justify-content: center;
  padding: 10%;
}

.learn-box {
  display: flex;
  justify-content: space-around;
  background-color: #CACAFC;
  width: 50%;
  flex-direction: row;
  margin: auto;
  height: 12%;
  border-radius: 5px;
  padding-top: 5px;

}

.surgery-pic {
  display: flex;
  justify-content:flex-end;
  width: 50%;
  height: 50%;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.details-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
}

.bottom-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 300px;
  padding-bottom: 20px;
}

.options {
  background-color: lightgrey;
  font-size: 20px;
  width: 29%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-evenly;
  padding: 10px 5px;
  border-radius: 10px;
}

.button {
  background-color: #CACAFC;
  padding: 10%;
  border-radius: 5px;
}

/** From 576px to 767px
  Smaller to medium sized phones
**/
@media screen and (min-width: 576px) {
  body {
    background-color: orange;
  }
}

/** From 768 to 991px
  Larger phones, tablets
**/
@media screen and (min-width: 768px) {
  body {
    background-color: navy;
  }
}

/** From 992px to 1199px
  Smaller to medium sized desktops. Gigantic phones
**/
@media screen and (min-width: 992px) {
  body {
    background-color: navy;
  }
}

/** From 1200px and higher
  Larger desktop screens (huge)
**/
@media screen and (min-width: 1200px) {
  body {
    background-color: navy;
  }
}
