/** Mobile styling
  0px width to 566px
  very small compact phones or earlier iPhones
**/
html, body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

.page-title {
  display: flex;
  height: 100px;
  background-color: #CACAFC;
  width: 100%;
}

.design-title {
  display: flex;
  font-size: 40px;
  align-items: center;
  font-weight: lighter;
  padding-left: 20px;
}

.hero-conduct {
  display: flex;
  height: 280px;
  justify-content: space-between;
}
.hero {
  height: 100%;
  width: 60%;
}

h1 {
  font-weight: lighter;
  font-style: normal;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text {
  display: flex;
  font-size: 20px;
  width: 70%;
  justify-content: center;
  padding: 10%;
}

.learn-box {
  display: flex;
  justify-content: space-around;
  background-color: #CACAFC;
  width: 50%;
  flex-direction: row;
  margin: auto;
  height: 12%;
  border-radius: 5px;
  padding-top: 5px;

}

.surgery-pic {
  display: flex;
  justify-content:flex-end;
  width: 50%;
  height: 50%;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.details-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
}

.bottom-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 300px;
  padding-bottom: 20px;
}

.options {
  background-color: lightgrey;
  font-size: 20px;
  width: 29%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-evenly;
  padding: 10px 5px;
  border-radius: 10px;
}

.button {
  background-color: #CACAFC;
  padding: 10%;
  border-radius: 5px;
}

@media screen and (max-width: 366px) {
  body {
    background-color: aqua;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .design-title {
    font-size: 30px;
  }
  .about-text {
    font-size: 90%;
  }
  .hero-conduct {
    height: 60vw;
  }
  .learn-box {
    font-size: 80%;
  }
  .details-text {
    font-size: 75%;
  }
  .options {
    font-size: 80%;
    margin: 1.3px;
  }
  .bottom-options {
    padding: 0;
  }
  .button {
    font-size: 90%;
  }
}


@media screen and (min-width: 368px) and (max-width: 450px) {
  body {
    background-color: darkolivegreen;
  }
  .options {
    font-size: 90%;
  }
  .button {
    height: 20%;
    width: 20vw;
  }
  .details-text {
    font-size: 90%;
  }
  .learn-box {
    font-size: 80%;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }
  .about-text {
    font-size: 98%;
  }
  .hero {
    height: 92%;
  }
}


@media screen and (min-width: 451px) and (max-width: 523px) {
  body {
    
  }
  .learn-box {
    font-size: 70%;
  }
  .details-text {
    font-size: 90%;
  }
  .options {
    font-size: 95%;
  }
  .about-text {
    font-size: 
  }
}
/** From 576px to 767px
  Smaller to medium sized phones
**/
@media screen and (min-width: 576px) {
  body {
    background-color: orange;
  }
}

/** From 768 to 991px
  Larger phones, tablets
**/
@media screen and (min-width: 768px) {
  body {
    background-color: lightblue;
  }
  
  .hero {
    width: 50%;
  }
  .about-text {
    font-size: 150%;
    width: 50%;
    height: 50%;
  }
  .options {
    width: 31%;
    height: 400px;
    font-size: 200%;
  }
  .details-text {
    font-size: 200%;
  }
  h1 {
    font-size: 300%;
  }
}

/** From 992px to 1199px
  Smaller to medium sized desktops. Gigantic phones
**/
@media screen and (min-width: 992px) {
  body {
    background-color: lightskyblue;
    margin-right: 0px;
  }
  .hero-conduct {
    height: 120%;
  }
  .about-text {
    font-size: 200%;
  }
  .learn-box {
    font-size: 150%;
  }
  .hero {
    width: 50%;
  }
  .details {
  height: 500px;
  }
  .surgery-pic {
    height: 100%;
  }
  .details-text {
    font-size: 200%;
  }
  .bottom-options {
    padding-bottom: 200%;
  }
  .options {
    font-size: 160%;
  }
  h1 {
    font-size: 300%;
  }
}

/** From 1200px and higher
  Larger desktop screens (huge)
**/
@media screen and (min-width: 1200px) {
  body {
    background-color: lightgreen;
    height: 120%;
    width: 100%;
    margin: 0;
    
  }
  .hero-conduct {
    height: 200%;
  }
  .about-text {
    font-size: 190%;
  }
  .learn-box {
    margin-bottom: 5%;
    margin-top: 15%;
    font-size: 150%;
  }
  .about {
    margin-right: 0px;
    padding-right: 0px;
  }
  .bottom-options {
    height: 100%;
    width: 100%;
  }
  .options {
    display: flex;
    position: relative;
  }
}
